#content-page-title {
    text-align: center;
	font-size: 6.5em;
	margin: 0;
	padding-top:8.5%;
    padding-right: 0%;
    padding-bottom: 8.5%;
    padding-left: 4.5%;
    background-color: #a9f1d9;
	width: 95.5% ;
}

.content_page_heading {
	background-color: #a9f1d9;
	margin: 0px;
    padding-bottom:2%;
    padding-top:2%;
    z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button:hover {
    padding-right: 2%;
    padding-left: 2%; 
    font-size: 100%;
    transition: 0.5s;
}

.item img:hover {
    transform: scale(1.05);
    font-size: 100%;
    transition: 0.5s;
}

.button {
	  list-style-type: none;
  	  margin: 0px;
      padding: 1%;
      display: inline;
      overflow: hidden;
      background-color: #5bfc99;
      border-radius:15px;
      border-color: #A44200;
      transition: 0.5s;
      
}
.button a{
  display: inline;
  color: blue;
  text-align: center;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
  padding-top:100px;
  text-decoration: none;
  transition: 0.5s;
  color:#000000;
  position: sticky;
}

a{
	text-decoration-line: none;
	color: #04330e;
}

.selected {
	background-color: #04330e;
}

.selected a {
    color: white;
}

.container {
    display: flex;
 	width: 100%;
    flex-direction: row;
}

.itemLeft {
    margin-left: 15px;
   	flex: 50%;
    margin-bottom: 30px;
}

.itemRight {
	margin-left: 25%;
    margin-right: 15px;
	flex: 50%;
    margin-bottom: 30px;
    align-self: center;
}

#hours-table {
    table {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border-collapse: collapse;
    }

    th,td {
        height: 30px;
        border:1px solid rgb(0, 0, 0);
        border-collapse: collapse;
        text-align: center;
    }

}

#about-mint-museum-text {
	font-size: 20px;
}

#calendar-table {
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 10px;
	width: 80%;
    border-collapse: collapse;
    table {
        width: 100%;
    }
    th, td {
		height: 80px;
		width: 80px;
        border: 1px solid black;
        padding: 10px;
        text-align: left;
		vertical-align: top;
        color: #04330e;
    }
    th {
        background-color: #a9f1d9;
		text-align: left;
		vertical-align: middle;
        color: #04330e;
    }
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section {
    background: white;
    margin: 30px auto;
    width: 75%;
    border-radius: 20px;
    color: black;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 150px;
    row-gap: 15px;
    margin-top: 20px;
}

.item {
    text-align: left;
}

.item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.item p {
    margin-top: 8px;
    font-size: 14px;
}

.animated-element {
	opacity: 100;
	transform: translateY(000px);
	transition: opacity 1s, transform 1s;
}

/* Make entire page scale proportionally */

body {
  zoom: 1;
  transform-origin: top left;
}

@media only screen and (max-width: 1400px) {
  body {
    zoom: 0.85;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    zoom: 0.7;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    zoom: 0.6;
  }
}

@media only screen and (max-width: 800px) {
  body {
    zoom: 0.5;
  }
}

@media only screen and (max-width: 600px) {
  body {
    zoom: 0.4;
  }
}

@media only screen and (max-width: 400px) {
  body {
    zoom: 0.3;
  }
}