.container {
    display: flex;
 	width: 100%;
    flex-direction: row;
}

.itemLeft {
    margin-left: 15px;
   	flex: 50%;
    margin-bottom: 30px;
}

.itemRight {
	margin-left: 25%;
    margin-right: 15px;
	flex: 50%;
    margin-bottom: 30px;
    align-self: center;
}

#text {
    font-size: 30px;
}

html, body {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    min-width: 0;
}

@media (min-width: 1350px) {
    .container {
        flex-direction: row;
    }

    .itemLeft {
        flex: 50%;
        margin-left: 15px;
    }

    .itemRight {
        flex: 50%;
        margin-left: 25%;
        margin-right: 15px;
    }
}

@media (max-width: 1450px) {
    #text {
        font-size: 20px;
    }
}


@media (max-width: 1000px) {
    #text {
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        font-size: small;
    }

    .itemLeft,
    .itemRight {
        flex: 100%;
        margin-left: 0;
        margin-right: 0;
        align-self: flex-start;
        font-size: small;
    }
}