#main-title {
    text-align: center;
	font-size: 6.5em;
	margin: 0;
	padding-top:8.5%;
    padding-right: 0%;
    padding-bottom: 8.5%;
    padding-left: 4.5%;
    background-color: #a9f1d9;
	width: 95.5% ;
}

.main_heading {
	background-color: #a9f1d9;
	margin: 0px;
    padding-bottom:2%;
    padding-top:2%;
    z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button:hover {
    padding-right: 2%;
    padding-left: 2%; 
    font-size: 100%;
    transition: 0.5s;
}

.button {
	  list-style-type: none;
  	  margin: 0px;
      padding: 1%;
      display: inline;
      overflow: hidden;
      background-color: #5bfc99;
      border-radius:15px;
      border-color: #A44200;
      transition: 0.5s;
      
}
.button a{
  display: inline;
  color: blue;
  text-align: center;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
  padding-top:100px;
  text-decoration: none;
  transition: 0.5s;
  color:#000000;
  position: sticky; 
}

.selected {
	background-color: #04330e;
}

.selected a {
    color: white;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.animated-element {
	opacity: 100;
	transform: translateY(000px);
	transition: opacity 0.5s, transform 0.5s;
}

/* Mobile first approach */
.container { padding: 1rem; }

@media (min-width: 768px) {
  .container { padding: 2rem; }
}

@media (min-width: 1024px) {
  .container { padding: 3rem; }
}