#main-title {
    text-align: center;
	font-size: 6.5em;
	margin: 0;
	padding-top:8.5%;
    padding-right: 0%;
    padding-bottom: 8.5%;
    padding-left: 4.5%;
    background-color: #a9f1d9;
	width: 95.5% ;
}

.main_heading {
	background-color: #a9f1d9;
	margin: 0px;
    padding-bottom:2%;
    padding-top:2%;
    z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.button:hover {
    padding-right: 2%;
    padding-left: 2%; 
    font-size: 100%;
    transition: 0.5s;
}

.button {
	  list-style-type: none;
  	  margin: 0px;
      padding: 1%;
      display: inline;
      overflow: hidden;
      background-color: #5bfc99;
      border-radius:15px;
      border-color: #A44200;
      transition: 0.5s;
      
}
.button a{
  display: inline;
  color: blue;
  text-align: center;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
  padding-top:100px;
  text-decoration: none;
  transition: 0.5s;
  color:#000000;
  position: sticky; 
}

.selected {
	background-color: #04330e;
}

.selected a {
    color: white;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.animated-element {
	opacity: 100;
	transform: translateY(000px);
	transition: opacity 0.5s, transform 0.5s;
}

/* Only apply these fixes on devices smaller than 1024px */
@media (max-width: 1023px) {
  
  /* Box sizing for predictable layouts */
  * {
    box-sizing: border-box;
  }
  
  /* Prevent horizontal scrolling */
  html {
    width: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    width: 100%;
    overflow-x: hidden;
  }
  
  /* Make images responsive */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Make videos and iframes responsive */
  video,
  iframe {
    max-width: 100%;
    height: auto;
  }
  
  /* Prevent tables from overflowing */
  table {
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }
  
  /* Prevent long words from breaking layout */
  p,
  h1, h2, h3, h4, h5, h6,
  div,
  span {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  /* Make form inputs fit within containers */
  input,
  textarea,
  select {
    max-width: 100%;
  }
  
  /* iOS Safari specific fixes */
  html {
    height: -webkit-fill-available;
  }
  
  body {
    min-height: -webkit-fill-available;
  }
}

/* Additional fixes for very small mobile devices */
@media (max-width: 767px) {
  
  /* Ensure nothing causes horizontal scroll */
  * {
    max-width: 100%;
  }
  
  /* But allow body and html to be full width */
  html,
  body {
    max-width: none;
  }
}